services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.0.0
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: 'ep-solitary-sunset-a1alctl4.ap-southeast-1.aws.neon.tech'
      KC_DB_URL_PORT: '5432'
      KC_DB_URL_DATABASE: 'TripData'
      KC_DB_USERNAME: 'TripData_owner'
      KC_DB_PASSWORD: 'cQtvPYd29xya'
      KC_DB_URL_PARAMETERS: 'sslmode=require'
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: start-dev
    ports:
      - '8080:8080'
    volumes:
      - ./themes:/opt/keycloak/themes

  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/app
    depends_on:
      - keycloak
